/* font-face same as square space  alley template*/
@font-face{
font-family:futura-pt;
src:url(https://use.typekit.net/af/f73c9d/000000000000000000010097/27/l?subset_id=2&fvd=n8&v=3);
}

@font-face{
font-family:proxima-nova-italic;
src:url(https://use.typekit.net/af/69ead1/00000000000000003b9aefbd/27/l?subset_id=2&fvd=i3&v=3)
}

body{
	background-color: #FCFCFC;
	font-family: "futura-pt";
	margin-left:5vw;
	margin-right:5vw;

}
header {
	letter-spacing: 1px;
	display: flex;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 30px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-style: normal;
}

header h1{
	flex-shrink: 0;
}

#logo_name {
	color: rgb(34, 34, 34);
	font-size: 42px;
	font-weight: 700;
	line-height: 50.4px;
	text-decoration: none;
	text-decoration-color: rgb(34, 34, 34);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-transform: uppercase;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap:wrap;
	margin-top:-10px;
}
nav a{
	color: rgb(153, 153, 153);
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	text-decoration: none;
	text-decoration-color: rgb(153, 153, 153);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-transform: uppercase;
	margin: 5px;
	text-align:right;
}

#pictures-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap:wrap;
	margin-top:-10px;
}

.project-picture{
	height: 300px;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	border: 5px solid white;
}
.project-picture:hover{
	height: 370px;
	width: 370px;
	border: 10px solid white;
}

.projects-description-div h2, #title{
	color: rgb(34, 34, 34);
	font-size: 30px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 1.8px;
	line-height: 45px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

p , fieldset{
	color: rgb(87, 87, 87);
	font-family: "proxima-nova-italic";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 27px;
	margin-bottom: 15px;
	text-transform: none;
}

/******************************************/
/*     Relevant for bio/index page        */ 
/******************************************/
#myImage{
	width: 500px;
	height:500px;
	border-radius:50%;
}

#about-content{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
}

#bio {
	width: 45vw;
}

#bio h2{
margin-top: 0px;
}
tiny{
	font-size: 3px;
	line-height: normal;
}

/******************************************/
/*     Relevant for feedback page        */ 
/******************************************/

form{
display:flex;
flex-direction: row;
font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 100;

}
form p, .comment{
font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 100;
}

.comment{
    border: 1px solid;
    padding: 10px;
    margin: 6px;
    border-color: darksalmon;
	position: relative;
	word-wrap: break-word;
}

.comment img{
width: 20px;
top: 8px;
right: 8px;
position:absolute;
}

.comment img:hover{
width: 25px;
}

.comment div{
width: calc(100% - 50px);
}

.comment.deleted {
  animation: shrink 1s;
  height: 0px;
  overflow: hidden;
  padding: 0px;

}

@keyframes shrink {
    0%{
	height: 200px;
	overflow: hidden;
	}
	95%{height: 0px;
    overflow: hidden;
    padding: 0px;
	display:block;
	}
	100%{
	display:none;
	}

}

